.body-container {
  margin: 0 auto;
  max-width: 960px;
}

.footer {
  background: #1b242f;
  color: #ffffff;
}

.footer .footer-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 2em;
}

.red {
  color: #b32424;
}

.header-bar {
  background-color: #ffffff;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: #b32424 4px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-bar .header-bar-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.header-bar .header-bar-container .logo-container {
  padding: 10px;
  margin: 0;
  height: 72px;
  width: 72px;
}

.header-bar .header-bar-container .logo-container .link {
  border: none;
  background-color: transparent !important;
}

.header-bar .header-bar-container .nav-container {
  padding: 20px 0;
  align-self: flex-end;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  margin-left: auto;
}

.header-bar .header-bar-container .nav-container .nav-link {
  font-weight: 700;
  text-decoration: none;
}

#start {
  width: 100%;
  height: 760px;
  background-color: #252934;
  background-image: url(../images/topo-background.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #b32424;
}

#start .center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start .center-container .me {
  padding: 1em 0;
}

#start .center-container .text {
  font-size: 32pt;
  line-height: 36pt;
  color: #ffffff;
  text-align: center;
  padding: 0 1em;
}

#about .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'hello hello' 'location location' 'cloud cloud' 'journey1 journey2';
  column-gap: 1em;
}

#about .grid-container .hello {
  grid-area: hello;
}

#about .grid-container .location {
  grid-area: location;
  align-self: center;
}

#about .grid-container .journey1 {
  grid-area: journey1;
  padding-top: 1em;
}

#about .grid-container .journey2 {
  grid-area: journey2;
  padding-top: 1em;
}

#about .grid-container .cloud {
  grid-area: cloud;
  height: 380px;
}

#about .cloud {
  flex: 1;
  height: 100%;
}

#about .cloud > div {
  transition: 1.4s;
}

#skills .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'card1 card2 card3';
  padding-bottom: 1.58rem;
  width: 100%;
  grid-gap: 8px;
}

#skills .card-container .card1 {
  grid-area: card1;
}

#skills .card-container .card2 {
  grid-area: card2;
}

#skills .card-container .card3 {
  grid-area: card3;
}

#skills .card-container .card {
  border-radius: 6px;
  border-top: 6px solid #b32424;
  background: #eeeeee;
  padding: 20px;
  text-align: center;
  width: 260px;
  justify-self: center;
}

#skills .card-container .card .icon-container {
  font-size: 40px;
}

#skills .card-container .card .header {
  margin-top: 0;
  margin-bottom: 1em;
  min-height: 62px;
}

#skills .card-container .card h4 {
  margin-top: 0;
  margin-bottom: 1em;
}

#skills .card-container .card p {
  margin-bottom: 0;
}

#skills .skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#experience .grid-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 10px;
}

#experience h4,
#experience h5,
#experience h6 {
  padding: 0;
  margin: 0;
}

#experience ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

#experience ul > li {
  margin-bottom: 0.75em;
  position: relative;
}

#experience ul > li > svg {
  top: 5px;
  color: #b32424;
}

#experience .date-container {
  color: #252934;
  font-size: small;
  align-self: center;
  justify-self: end;
}

#experience .experience-image {
  align-self: center;
  justify-self: center;
  height: 72px;
  width: 72px;
  padding: 8px;
  position: relative;
}

#experience .experience-image:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  content: ' ';
  border: 2px solid #eee;
  border-radius: 100%;
}

#experience .experience-image img {
  border-radius: 100%;
}

#experience .description-container {
  justify-self: start;
  padding: 10px;
  font-size: 15px;
  color: #989898;
}

#contact {
  text-align: center;
}

#contact .grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1em;
  padding-bottom: 1.58rem;
}

#contact .grid-container .link {
  background: #262f38;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 30px;
}

#contact .grid-container .link:hover,
#contact .grid-container .link:active {
  background-color: rgba(178, 34, 34, 0.5);
}

img {
  margin-bottom: 0;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .body-container {
    max-width: 840px;
  }

  .footer .footer-container {
    max-width: 840px;
  }

  .header-bar .header-bar-container {
    max-width: 840px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .body-container {
    max-width: 720px;
  }

  .footer .footer-container {
    max-width: 720px;
  }

  .header-bar .header-bar-container {
    max-width: 720px;
  }

  #skills .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'card1 card2' 'card3 card3';
  }

  #skills .card-container .card {
    margin-bottom: 1em;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .body-container {
    max-width: calc(100% - 1em);
  }

  .footer .footer-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container .nav-container {
    grid-gap: 15px;
  }

  #start {
    height: 540px;
  }

  #about .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'hello' 'location' 'cloud' 'journey1' 'journey2';
  }

  #skills .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'card1' 'card2' 'card3';
  }

  #skills .card-container .card {
    margin-bottom: 1em;
  }

  #skills .skills-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #experience .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  #skills .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'card1 card2' 'card3 card3';
  }

  #skills .card-container .card {
    margin-bottom: 1em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .body-container {
    max-width: calc(100% - 1em);
  }

  .footer .footer-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container .nav-container {
    grid-gap: 5px;
  }
  .header-bar .header-bar-container .nav-container .nav-link {
    font-size: smaller;
  }

  #start {
    height: 380px;
  }

  #start .center-container .text {
    font-size: 24pt;
  }

  #about .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'hello' 'location' 'cloud' 'journey1' 'journey2';
  }

  #skills .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'card1' 'card2' 'card3';
  }

  #skills .card-container .card {
    margin-bottom: 1em;
  }

  #skills .skills-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #experience .grid-container {
    grid-template-columns: 1fr;
  }

  #contact .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .body-container {
    max-width: calc(100% - 1em);
  }

  .footer .footer-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container {
    max-width: calc(100% - 1em);
  }

  .header-bar .header-bar-container .nav-container {
    grid-gap: 5px;
  }
  .header-bar .header-bar-container .nav-container .nav-link {
    font-size: smaller;
  }

  #start {
    height: 380px;
  }

  #start .center-container .text {
    font-size: 24pt;
  }

  #about .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: 'hello' 'location' 'cloud' 'journey1' 'journey2';
  }

  #skills .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'card1' 'card2' 'card3';
  }

  #skills .card-container .card {
    margin-bottom: 1em;
  }

  #skills .skills-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #experience .grid-container {
    grid-template-columns: 1fr;
  }

  #contact .grid-container {
    grid-template-columns: auto auto;
  }
}
