img {
  margin-bottom: 0;
}

.cloud {
  flex: 1;
  height: 100%;
}

.cloud > div {
  transition: 1.4s;
}

.experience h4,
.experience h5,
.experience h6 {
  padding: 0;
  margin: 0;
}

.experience ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.experience ul > li {
  margin-bottom: 0.75em;
  position: relative;
}

.experience ul > li > svg {
  top: 5px;
  color: #b32424;
}

.experienceImage:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  content: ' ';
  border: 2px solid #eee;
  border-radius: 100%;
}

.experienceImage img {
  border-radius: 100%;
}
